# Ambiente virtual
venv/
.env

# Banco de dados SQLite
*.sqlite3
*.db

# Cache do Pytest
.pytest_cache/
__pycache__/
*.py[cod]
*.pyo

# Pastas do VSCode
.vscode/

# Logs e temporários
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db